﻿<div class="jumbotron">
    <h1>iPaaS POC</h1>
    <div id="QueueDisplay" class=""></div>
    <div id="NumberInQueue"></div>
</div>
<div class="col-md-4">
    @if (!Request.IsAuthenticated)
    {
        <!-- If the user is not authenticated, display the sign-in button -->
        <a href="@Url.Action("SignIn", "Home")" style="text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="300px" height="50px" viewBox="0 0 3278 522" class="SignInButton">
            <style type="text/css">.fil0:hover {fill: #4B4B4B;} .fnt0 {font-size: 260px;font-family: 'Segoe UI Semibold', 'Segoe UI'; text-decoration: none;}</style>
            <rect class="fil0" x="2" y="2" width="3174" height="517" fill="black" />
            <rect x="150" y="129" width="122" height="122" fill="#F35325" />
            <rect x="284" y="129" width="122" height="122" fill="#81BC06" />
            <rect x="150" y="263" width="122" height="122" fill="#05A6F0" />
            <rect x="284" y="263" width="122" height="122" fill="#FFBA08" />
            <text x="470" y="357" fill="white" class="fnt0">Sign in with Microsoft</text>
            </svg>
        </a>
    }
    else
    {
        <span><br/>Hello @System.Security.Claims.ClaimsPrincipal.Current.FindFirst("name").Value;</span>
        <br /><br />
        @Html.ActionLink("Get Next Item", "queue", "api")
        <br /><br />
        @Html.ActionLink("Sign out", "SignOut", "Home")
    }
    @if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
    {
        <div style="background-color:red;color:white;font-weight: bold;">Error: @Request.QueryString["errormessage"]</div>
    }
</div>

<script id="NumberInQueueTemplate" type="text/template">
    <p>There are {{QueueCount}} items in the queue.</p>
</script>

<script id="QueueDisplayTemplate" type="text/template">
    <table id ="QueueDisplayTable" class="table table-striped table-responsive-lg">
        <thead class="thead-light">
            <tr>
                <th id="RowKey">Key</th>
                <th id="BatchStep">Batch Step</th>
                <th id="CreatedDate">Created Date</th>
                <th id="CustID">Customer ID</th>
                <th id="CustNum">Customer Number</th>
                <th id="Priority">Priority</th>
                <th id="Processing">Processing</th>
                <th id="ProcessedDate">Processed Date</th>
                <th id="Status">Status</th>
            </tr>
        </thead>
        <tbody>
            {{#.}}
            <tr>
                <td>{{RowKey}}</td>
                <td>{{BatchStep}}</td>
                <td>{{CreatedDate}}</td>
                <td>{{CustID}}</td>
                <td>{{CustNum}}</td>
                <td>{{Priority}}</td>
                <td>{{Processing}}</td>
                <td>{{ProcessedDate}}</td>
                <td>{{Status}}</td>
            </tr>
            {{/.}}
        </tbody>
    </table>
    <button id="add2QButton" class="btn btn-primary">Add to Queue</button>
    <button id="deleteButton" class="btn btn-primary">Delete All Items</button>
</script>
<script type="text/javascript" src="~/Scripts/Views/QueueDisplay.js"></script>
